.all-image{
    width: 100%;
    height: 70vh;

}
.slid-text{
    width: 50%;
    height: 50%;
    margin: auto;
}
.all-image img{
    width: 100%;
    height: 100%;
    image-resolution: 50px;
   
}

@media screen and (max-width: 480px) {
   .all-image{
    width: 100%;
    height: 50vh;
   }
  }